[submodule "Carthage/Checkouts/SnapKit"]
	path = Carthage/Checkouts/SnapKit
	url = https://github.com/SnapKit/SnapKit.git
[submodule "Carthage/Checkouts/Bond"]
	path = Carthage/Checkouts/Bond
	url = https://github.com/SwiftBond/Bond.git
